.nav {
    grid-area: n;
    background-color: rgb(161, 137, 165);
    padding: 20px;
}

.item {
    color: #ffffff;
    text-decoration: none;
}

.active {
    color: gold;
}

a {
    color: white;
    text-decoration: none;
}
