ul li {
    list-style-type: lower-alpha;
}

.app-wrapper {
    display: grid;

    grid-template-areas: "h h" "n c";

    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;

    max-width: 1200px;
    margin: 0 auto;
}

.app-wrapper-content {
    grid-area: c;
    background-color: rgb(171, 166, 195);
}
